./frontend/node_modules
./frontend/.pnp
./frontend.pnp.js
./frontend.yarn/install-state.gz
./frontend/coverage
./frontend/.next/
./frontend/out/
./frontend/build
./frontend/.DS_Store
./frontend./frontend*.pem
./frontend/npm-debug.log*
./frontend/yarn-debug.log*
./frontend/yarn-error.log*
./frontend/.env*.local
./frontend/*.tsbuildinfo
./frontend/next-env.d.ts

./api/.bundle
./api/.env*
./api/!/.env*.erb
./api/log/*
./api/tmp/*
./api/!/log/.keep
./api/!/tmp/.keep
./api/tmp/pids/*
./api/!/tmp/pids/
./api/!/tmp/pids/.keep
./api/storage/*
./api/!/storage/.keep
./api/tmp/storage/*
./api/!/tmp/storage/
./api/!/tmp/storage/.keep
./api/config/master.key
